@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Bowlby+One");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");
html, body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

h1.banner {
  font-family: 'Bowlby One';
  padding: 20px;
  background-color: #2e3538;
  color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

nav#horizontal {
  background-color: #2e3538;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 75px;
  -webkit-box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#horizontal ul.linksulName {
  padding: 10px;
}

nav#horizontal ul.linksul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

nav#horizontal ul.linksul li.links-fb {
  list-style: none;
  padding: 24px 0;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-fb:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4367B0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

nav#horizontal ul.linksul .links-fb:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-insta {
  list-style: none;
  padding: 24px 0;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-insta:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C130A0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-insta:hover, nav#horizontal ul.linksul .links-insta:focus, nav#horizontal ul.linksul .links-insta:active {
  color: white;
}

nav#horizontal ul.linksul .links-insta:hover:before, nav#horizontal ul.linksul .links-insta:focus:before, nav#horizontal ul.linksul .links-insta:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-twitter {
  list-style: none;
  padding: 24px 0;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-twitter:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #21A1F0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-twitter:hover, nav#horizontal ul.linksul .links-twitter:focus, nav#horizontal ul.linksul .links-twitter:active {
  color: white;
}

nav#horizontal ul.linksul .links-twitter:hover:before, nav#horizontal ul.linksul .links-twitter:focus:before, nav#horizontal ul.linksul .links-twitter:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-mail {
  list-style: none;
  padding: 24px 0;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-mail:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C269A5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-mail:hover, nav#horizontal ul.linksul .links-mail:focus, nav#horizontal ul.linksul .links-mail:active {
  color: white;
}

nav#horizontal ul.linksul .links-mail:hover:before, nav#horizontal ul.linksul .links-mail:focus:before, nav#horizontal ul.linksul .links-mail:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-linked {
  list-style: none;
  padding: 24px 0;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-linked:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0577B4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-linked:hover, nav#horizontal ul.linksul .links-linked:focus, nav#horizontal ul.linksul .links-linked:active {
  color: white;
}

nav#horizontal ul.linksul .links-linked:hover:before, nav#horizontal ul.linksul .links-linked:focus:before, nav#horizontal ul.linksul .links-linked:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-git {
  list-style: none;
  padding: 24px 0;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-git:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23292D;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-git:hover, nav#horizontal ul.linksul .links-git:focus, nav#horizontal ul.linksul .links-git:active {
  color: white;
}

nav#horizontal ul.linksul .links-git:hover:before, nav#horizontal ul.linksul .links-git:focus:before, nav#horizontal ul.linksul .links-git:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav#horizontal a {
  text-decoration: none;
  margin: 0 auto;
  color: white;
  padding: 20px;
}

img#logo {
  width: 100px;
  top: 0;
  padding-top: 15px;
}

.up {
  position: fixed;
  right: 20px;
  bottom: 50px;
  color: #272626;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.up i {
  font-size: 75px;
}

main div.spacingDiv {
  height: 75px;
}

main div.parallax {
  height: 50vh;
  background-image: url("https://i.imgur.com/Lpc1VAr.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main div.parallaxOne {
  height: 100vh;
  background-image: url("https://i.imgur.com/Gv56UPg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main div.parallaxTwo {
  height: 50vh;
  background-image: url("https://cdn.pixabay.com/photo/2014/05/02/23/46/new-york-city-336475_1280.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .name {
  margin-top: 150px;
  position: absolute;
}

main .name h1.sarah {
  color: #f2f2f2;
  text-shadow: 2px 2px 4px black;
  font-size: 450%;
  font-family: 'Bowlby One';
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

main .name p {
  color: #f2f2f2;
  font-size: 20px;
  font-family: 'Playfair Display';
  text-shadow: 0 0 20px black;
}

main div.textBox {
  width: 100vw;
  font-family: 'Playfair Display';
  color: black;
  background-color: white;
  margin: 0;
  font-size: 25px;
}

main div.textBox p {
  padding: 20px 30px;
  width: 80vw;
  font-weight: 500;
  text-align: center;
}

main div.textBox div.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main table.skills {
  background-color: white;
}

main table.skills tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main table.skills tr td {
  padding: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-align: center;
  font-family: 'Bowlby One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #272626;
}

main table.skills tr td i {
  font-size: 100px;
}

main table.skills tr td:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.workPage a {
  color: skyblue;
  font-size: 40px;
}

.workPage .logoWork {
  background-color: #272626;
}

.workPage .grid img {
  vertical-align: middle;
  height: 300px;
  width: 33vw;
  padding: 0;
  margin: 0 -3px;
}

@media screen and (max-width: 800px) {
  .workPage .grid img {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .workPage .grid img {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    width: 100%;
    height: 200px;
  }
}

div.contact ul.linksul2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Oleo Script', sans-serif;
  text-transform: lowercase;
  padding: 0;
  margin-top: -9px;
  margin-bottom: 0;
  padding-right: 20px;
  height: 300px;
  width: 100vw;
  background-color: white;
}

div.contact ul.linksul2 li.links-fb {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-fb:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4367B0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-fb:hover, div.contact ul.linksul2 .links-fb:focus, div.contact ul.linksul2 .links-fb:active {
  color: white;
}

div.contact ul.linksul2 .links-fb:hover:before, div.contact ul.linksul2 .links-fb:focus:before, div.contact ul.linksul2 .links-fb:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

div.contact ul.linksul2 li.links-insta {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-insta:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C130A0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-insta:hover, div.contact ul.linksul2 .links-insta:focus, div.contact ul.linksul2 .links-insta:active {
  color: white;
}

div.contact ul.linksul2 .links-insta:hover:before, div.contact ul.linksul2 .links-insta:focus:before, div.contact ul.linksul2 .links-insta:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

div.contact ul.linksul2 li.links-twitter {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-twitter:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #21A1F0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-twitter:hover, div.contact ul.linksul2 .links-twitter:focus, div.contact ul.linksul2 .links-twitter:active {
  color: white;
}

div.contact ul.linksul2 .links-twitter:hover:before, div.contact ul.linksul2 .links-twitter:focus:before, div.contact ul.linksul2 .links-twitter:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

div.contact ul.linksul2 li.links-mail {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-mail:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C269A5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-mail:hover, div.contact ul.linksul2 .links-mail:focus, div.contact ul.linksul2 .links-mail:active {
  color: white;
}

div.contact ul.linksul2 .links-mail:hover:before, div.contact ul.linksul2 .links-mail:focus:before, div.contact ul.linksul2 .links-mail:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

div.contact ul.linksul2 li.links-linked {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-linked:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0577B4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-linked:hover, div.contact ul.linksul2 .links-linked:focus, div.contact ul.linksul2 .links-linked:active {
  color: white;
}

div.contact ul.linksul2 .links-linked:hover:before, div.contact ul.linksul2 .links-linked:focus:before, div.contact ul.linksul2 .links-linked:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

div.contact ul.linksul2 li.links-git {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-git:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23292D;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-git:hover, div.contact ul.linksul2 .links-git:focus, div.contact ul.linksul2 .links-git:active {
  color: white;
}

div.contact ul.linksul2 .links-git:hover:before, div.contact ul.linksul2 .links-git:focus:before, div.contact ul.linksul2 .links-git:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

div.contact a {
  text-decoration: none;
  color: #2e3538;
  padding: 100px;
  font-size: 150px;
}

div.contact a:hover {
  color: #f2f2f2;
}

div.contact i {
  font-size: 50%;
}

footer {
  background-color: #2e3538;
  width: 100vw;
  color: white;
  font-family: 'Playfair Display', serif;
  text-align: center;
  padding: 10px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e3538;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: indigo;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  body {
    overflow-y: hidden !important;
  }
  [class*="workImg"] {
    width: auto !important;
  }
  div.aboutMe p {
    width: 100vw !important;
    text-align: center;
  }
  nav#horizontal {
    height: 55px !important;
  }
  img#logo {
    width: 75px !important;
  }
  div.spacingDiv {
    display: none !important;
  }
  h1.sarah {
    font-size: 25px !important;
    width: 100vw !important;
    margin-top: 100px !important;
    height: 100vw !important;
  }
  div.parallax {
    height: 250px !important;
  }
  main {
    float: none !important;
    width: auto !important;
  }
  p {
    padding: 0 !important;
  }
  h1.banner {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  a.resume {
    display: none;
  }
  .contact {
    display: none;
  }
  div.textBox {
    height: 100% !important;
  }
  img.workImg {
    width: 100vw !important;
  }
}

@-webkit-keyframes floatDown {
  from {
    padding-top: 0;
    opacity: 0;
  }
  to {
    padding-top: 35vh;
    opacity: 1;
  }
}

@keyframes floatDown {
  from {
    padding-top: 0;
    opacity: 0;
  }
  to {
    padding-top: 35vh;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */