@import url("https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|Ribeye|Erica+One|Passion+One|Bowlby+One|Peralta|Poppins|Oleo+Script|Yeseva+One|Lobster|Abril+Fatface|Luckiest+Guy|Elsie|Titan+One|Oswald");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");
html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #272626;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: content-box;
}

@media only screen and (max-width: 600px) {
  .name {
    margin-top: -300px !important;
  }
  h1.sarah {
    font-size: 30px !important;
    width: 75vw;
  }
  ul.linksul {
    display: none !important;
  }
  [class*="workImg"] {
    width: 100%;
  }
}

nav#horizontal {
  background-color: #2e3538;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 75px;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#horizontal ul.linksulName {
  padding: 10px;
}

nav#horizontal ul.linksul {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Oleo Script', sans-serif;
  text-transform: lowercase;
  padding: 0;
  margin: 0;
  padding-right: 20px;
}

nav#horizontal ul.linksul li.links-fb {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-fb:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4367B0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav#horizontal ul.linksul .links-fb:hover, nav#horizontal ul.linksul .links-fb:focus, nav#horizontal ul.linksul .links-fb:active {
  color: white;
}

nav#horizontal ul.linksul .links-fb:hover:before, nav#horizontal ul.linksul .links-fb:focus:before, nav#horizontal ul.linksul .links-fb:active:before {
  transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-insta {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-insta:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C130A0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav#horizontal ul.linksul .links-insta:hover, nav#horizontal ul.linksul .links-insta:focus, nav#horizontal ul.linksul .links-insta:active {
  color: white;
}

nav#horizontal ul.linksul .links-insta:hover:before, nav#horizontal ul.linksul .links-insta:focus:before, nav#horizontal ul.linksul .links-insta:active:before {
  transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-twitter {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-twitter:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #21A1F0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav#horizontal ul.linksul .links-twitter:hover, nav#horizontal ul.linksul .links-twitter:focus, nav#horizontal ul.linksul .links-twitter:active {
  color: white;
}

nav#horizontal ul.linksul .links-twitter:hover:before, nav#horizontal ul.linksul .links-twitter:focus:before, nav#horizontal ul.linksul .links-twitter:active:before {
  transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-mail {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-mail:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C269A5;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav#horizontal ul.linksul .links-mail:hover, nav#horizontal ul.linksul .links-mail:focus, nav#horizontal ul.linksul .links-mail:active {
  color: white;
}

nav#horizontal ul.linksul .links-mail:hover:before, nav#horizontal ul.linksul .links-mail:focus:before, nav#horizontal ul.linksul .links-mail:active:before {
  transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-linked {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-linked:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0577B4;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav#horizontal ul.linksul .links-linked:hover, nav#horizontal ul.linksul .links-linked:focus, nav#horizontal ul.linksul .links-linked:active {
  color: white;
}

nav#horizontal ul.linksul .links-linked:hover:before, nav#horizontal ul.linksul .links-linked:focus:before, nav#horizontal ul.linksul .links-linked:active:before {
  transform: scaleX(1);
}

nav#horizontal ul.linksul li.links-git {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

nav#horizontal ul.linksul .links-git:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23292D;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

nav#horizontal ul.linksul .links-git:hover, nav#horizontal ul.linksul .links-git:focus, nav#horizontal ul.linksul .links-git:active {
  color: white;
}

nav#horizontal ul.linksul .links-git:hover:before, nav#horizontal ul.linksul .links-git:focus:before, nav#horizontal ul.linksul .links-git:active:before {
  transform: scaleX(1);
}

nav#horizontal a {
  text-decoration: none;
  margin: 0 auto;
  color: white;
  padding: 20px;
}

li.nametag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li.nametag img#logo {
  width: 100px;
  top: 0;
  padding-top: 15px;
}

.up {
  position: fixed;
  right: 20px;
  bottom: 50px;
  color: #f2f2f2;
  background: none;
  border: none;
  cursor: pointer;
}

.up i {
  font-size: 75px;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
  overflow-y: hidden;
}

main div.spacingDiv {
  height: 75px;
}

main div.parallax {
  height: 50vh;
  background-image: url("/img/Mushroom.jpg");
  background-color: #272626;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .name {
  margin-top: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: column;
  width: 100vw;
  top: 0;
}

main .name h1.sarah {
  color: #f2f2f2;
  text-shadow: 0 0 20px black;
  font-size: 450%;
  font-family: 'Bowlby One';
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 100px;
  text-align: center;
}

main .name h1.symbol {
  font-size: 75px;
  padding: 20px;
  margin-top: 250px;
  color: #f2f2f2;
  text-shadow: 0 0 20px black;
  font-size: 120px;
  font-family: 'Bowlby One';
}

main .name p {
  color: #f2f2f2;
  font-size: 20px;
  font-family: 'Playfair Display';
  text-shadow: 0 0 20px black;
}

main .name h2 {
  width: 60vw;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Playfair Display';
  margin-top: 150px;
  font-size: 30px;
  position: absolute;
  opacity: 1;
  z-index: 9998;
}

main img.meImg {
  background-color: #f2f2f2;
  width: 900px;
  height: 750px;
  padding-top: 75px;
  margin-left: -220px;
}

main div.textBox {
  width: 100vw;
  font-family: 'Playfair Display';
  color: black;
  background-color: white;
  margin: 0;
}

main div.textBox h1 {
  font-family: 'Bowlby One';
  padding: 20px;
  background-color: #2e3538;
  color: #f2f2f2;
  width: 100vw;
  z-index: 9999;
  margin: 0;
}

main div.textBox div.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

main div.textBox div.aboutMe div.school {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

main div.textBox div.aboutMe img.westhills {
  width: 250px;
  height: 55px;
}

main div.textBox div.aboutMe img.geekwise {
  width: 250px;
  height: 200px;
}

main div.textBox div.aboutMe img.blackwhite {
  height: 600px;
}

main div.textBox div.aboutMe p {
  padding: 20px 30px;
  width: 60vw;
  font-weight: 500;
  font-size: 19px;
}

main div.textBox div.aboutMe p span {
  font-weight: bold;
}

main div.textBox div.aboutMe p span.red {
  color: red;
}

main div.textBox div.aboutMe p span.red a {
  color: red;
  text-decoration: none;
}

main div.textBox div.aboutMe p span.red a:hover {
  letter-spacing: .5px;
  transition-duration: .5s;
}

main div.textBox div.aboutMe p span.purple {
  color: indigo;
}

main div.textBox div.aboutMe p span.blue {
  color: blue;
}

main i {
  font-size: 30px;
}

main ul.skillsStuff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main ul.skillsStuff li {
  list-style: none;
  padding-top: 20px;
  transition: 1s;
  transform-style: preserve-3d;
}

main ul.skillsStuff li:hover {
  transform: rotateY(180deg);
}

main ul.skillsStuff i {
  font-size: 100px;
}

div.skills {
  padding-bottom: 25px;
  padding-right: 60px;
}

div.skills ul {
  flex-wrap: wrap;
}

div.skills h1 {
  font-family: 'Bowlby One';
  padding: 20px;
  background-color: #2e3538;
  color: #f2f2f2;
  width: 100vw;
}

.workPage h1 {
  font-family: 'Bowlby One';
  padding: 20px;
  background-color: #2e3538;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.workPage h1 a {
  padding-right: 20px;
  color: #c269a6;
}

.workPage img {
  height: 300px;
  width: 510px;
}

div.contact h1 {
  font-family: 'Bowlby One';
  padding: 20px;
  background-color: #2e3538;
  color: #f2f2f2;
  width: 100vw;
}

div.contact ul.linksul2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  font-family: 'Oleo Script', sans-serif;
  text-transform: lowercase;
  padding: 0;
  margin-top: -9px;
  margin-bottom: 0;
  padding-right: 20px;
  height: 300px;
  width: 100vw;
}

div.contact ul.linksul2 li.links-fb {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-fb:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4367B0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-fb:hover, div.contact ul.linksul2 .links-fb:focus, div.contact ul.linksul2 .links-fb:active {
  color: white;
}

div.contact ul.linksul2 .links-fb:hover:before, div.contact ul.linksul2 .links-fb:focus:before, div.contact ul.linksul2 .links-fb:active:before {
  transform: scaleX(1);
}

div.contact ul.linksul2 li.links-insta {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-insta:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C130A0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-insta:hover, div.contact ul.linksul2 .links-insta:focus, div.contact ul.linksul2 .links-insta:active {
  color: white;
}

div.contact ul.linksul2 .links-insta:hover:before, div.contact ul.linksul2 .links-insta:focus:before, div.contact ul.linksul2 .links-insta:active:before {
  transform: scaleX(1);
}

div.contact ul.linksul2 li.links-twitter {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-twitter:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #21A1F0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-twitter:hover, div.contact ul.linksul2 .links-twitter:focus, div.contact ul.linksul2 .links-twitter:active {
  color: white;
}

div.contact ul.linksul2 .links-twitter:hover:before, div.contact ul.linksul2 .links-twitter:focus:before, div.contact ul.linksul2 .links-twitter:active:before {
  transform: scaleX(1);
}

div.contact ul.linksul2 li.links-mail {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-mail:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C269A5;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-mail:hover, div.contact ul.linksul2 .links-mail:focus, div.contact ul.linksul2 .links-mail:active {
  color: white;
}

div.contact ul.linksul2 .links-mail:hover:before, div.contact ul.linksul2 .links-mail:focus:before, div.contact ul.linksul2 .links-mail:active:before {
  transform: scaleX(1);
}

div.contact ul.linksul2 li.links-linked {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-linked:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0577B4;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-linked:hover, div.contact ul.linksul2 .links-linked:focus, div.contact ul.linksul2 .links-linked:active {
  color: white;
}

div.contact ul.linksul2 .links-linked:hover:before, div.contact ul.linksul2 .links-linked:focus:before, div.contact ul.linksul2 .links-linked:active:before {
  transform: scaleX(1);
}

div.contact ul.linksul2 li.links-git {
  list-style: none;
  padding: 24px 0;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

div.contact ul.linksul2 .links-git:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23292D;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

div.contact ul.linksul2 .links-git:hover, div.contact ul.linksul2 .links-git:focus, div.contact ul.linksul2 .links-git:active {
  color: white;
}

div.contact ul.linksul2 .links-git:hover:before, div.contact ul.linksul2 .links-git:focus:before, div.contact ul.linksul2 .links-git:active:before {
  transform: scaleX(1);
}

div.contact a {
  text-decoration: none;
  color: #2e3538;
  padding: 100px;
  font-size: 150px;
}

div.contact a:hover {
  color: #f2f2f2;
}

div.contact i {
  font-size: 50%;
}

.footerTwo {
  background-color: #454f54;
  height: 200px;
}

.footerTwo p {
  color: #f2f2f2;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

footer {
  background-color: #2e3538;
  width: 100vw;
  position: fixed;
  z-index: 9999;
  bottom: 0;
}

footer span {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

footer h5 {
  font-family: 'Oswald', sans-serif;
  color: #f2f2f2;
  display: inline;
  font-size: 70%;
  margin-left: -30px;
  padding-bottom: .5vh;
}

footer .footerUl {
  bottom: 0;
  padding-right: 30px;
  margin: 0;
}

footer ul {
  display: inline;
}

footer li {
  display: inline;
}

footer i {
  color: #f2f2f2;
  padding-top: 6px;
  padding-left: 10px;
  font-size: 90%;
}

footer .fab:hover, footer .fas:hover {
  color: #403f3f;
}

@keyframes floatDown {
  from {
    padding-top: 0;
    opacity: 0;
  }
  to {
    padding-top: 35vh;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */