@import url('https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700|Playfair+Display|Fjalla+One|Ribeye|Erica+One|Passion+One|Bowlby+One|Milonga|Peralta|Poppins|Elsie');
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');

$black: hsl(0, 1%, 26%);
$white: hsl(0, 0%, 95%);
// $sky: hsl(164, 21%, 90%);
$sky: white;
$blue: #0197A4;
$blueblack: hsl(200, 10%, 20%);

html, body {
    overflow-x: hidden;
    background-color: $sky;
    background-color: $blueblack;
    padding: 0;
    margin: 0;
    background-image: url('/img/flowers.jpg');
    background-size: cover;

}
header {
    width: 100vw;
}
//Navigation
nav#horizontal {
    // background-color: $blueblack;
    width: 100vw;
    position: fixed;  
    z-index: 9999 !important;
    top: 0;
    left:0;
    height: 50px;
    // box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 40px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    
    ul.linksulName {
        padding: 10px;
    }

    ul.linksul{
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: 'Oleo Script', sans-serif;
        text-transform: lowercase;
        padding: 0;
        margin: 0;

        li.links {
            list-style: none;
            padding: 0;
        }

        a {
            text-decoration: none;
            margin: 0 auto;
            color: white;
            font-family: 'Yeseva One';
            text-transform: uppercase;
            padding: 20px;
    
        }

        a:hover {
            background-color: lighten(#293133, 5%);
            height: 100%;
            //padding: 14px 25px;
            //border-radius: 15px;

        }}

    li.nametag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    img#logo{
        width: 255px;
        top: 0;
        padding-top: 25px;
        
    }
}
            img.linksIcons {
              width: 30px;
            }
}

    
    // dropdown
    
        nav#dropdown{
            //width: 100%;
            position: fixed;  
            z-index: 9999;
            top: 0;
            //padding-top: 10px;
            padding-left: 100px;
            display: none;
            width: 100vw;
    
            ul {
                display: flex;
                justify-content: center;
                align-content: center;
            }
    
            ul.list {
                position: absolute;
                width: 100vw;
                background-color: #293133;
                display: flex;
                margin-top: 10px;
                left: 0;
                //box-shadow: 0 20px $black;
                
            }
            li.listLi:hover {
                background-color: lighten($black, 5%);
            }
            li.listLi{
                display: none;
                //margin-top: 10px;
                padding: 10px;
                font-size: 15px;
                border-right: 1.5px dashed $white;
                
    
                &:last-child {
                    border: none;
                }
            }
    
            li.hamburgerLi {
                i {
                    font-size: 30px;
                }
            }
            li.hamburgerLi:hover{
    
                li.listLi {
                    display: block;
                    
                }
            }
            li {
                list-style: none;
                display: block;
            }
            a {
                color: $white;
                text-decoration: none;
                font-size: 15px;
                text-align: left;
            } 
    
        }

    
        // MOBILE ONLY
        @media only screen and (max-width: 900px) {
            .links { font-size: 15px; display: none;}
            .linksul { padding:0; display: none; }
            .skills { ul { flex-wrap: wrap;
                overflow-x: auto; } }
            .footerUl { display: none; }
            nav#dropdown { display: inline; }
            div.workPage { width: 100vw; margin: 0; }
            div.work { ul { flex-wrap: wrap; } img {width: 100vw; height: 200px; }}
          }


main {
    
    div {
        display: flex;
        flex-direction: column;
        //background-color: $sky;
        width: 100vw;
        
        
    }  }
    
    .workPage {
        width: 100vw;

        //overflow: hidden;
        //background-color: $sky;
        display: flex;
        justify-content: center;
        flex-direction: column;
        //margin-left: 90px;
        padding-top: 50px;
        
}

.work {
    //background-color: $sky;
    font-family: 'Playfair Display';
    font-size: 10px;
    width: 100%;
    
 img {

     width: 380px;
     height: 250px;
     margin: 0;
     cursor: pointer;
    }
    
    .fas {
        position: absolute;
        font-size: 50px;
        padding-top: 50px;
        opacity: 1;
    }
    
    ul {
        padding: 0;
        display: flex;
        // justify-content: center;
        // align-content: center;
        // align-items: center;
        // align-self: center;
        flex-wrap: wrap;
        width: 100vw;
    }
    li {
        display: flex;
        flex-direction: column;
        //padding: 20px;
        
     
 }}
 
// WORK


#skills {
    
    //padding: 100px 0 100px;
    width: 100%;
    h1 {
        color: darken($white, 10%);
        font-family: 'Elsie';
        text-align: center;
        height: 100px;
        width: 100%;
        font-size: 8vh;
    }

    ul {
    background-color: $sky;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    list-style-image: none;
    list-style: none;
    // overflow-x: auto;

    li {
        text-align: center;
        margin: 0 auto;
        
        padding-bottom: 20px;
        float: left;

        i {
            font-size: 90px;
            padding: 20px;
            cursor: pointer;
        }
    }}}


    
footer {
    background-color: $blueblack;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    bottom: 0;


    span {
        display: flex;
        justify-content: space-between;
        height: 30px;
        align-items: center;
    }
    h5 {
    font-family: 'Playfair Display', serif;
    color: $white;
    display: inline;
    font-size: 60%;
    letter-spacing: 2px;
    padding-bottom: .5vh;

    }

    .footerUl {
        bottom: 0;
        padding-right: 30px;
        margin: 0;
    }
ul {
    display: inline;
    //padding-left: 70vw;

    
}
li{
    display: inline;
}
    i {
        color: $white;
        padding-top: 6px;
        padding-left: 10px;
        font-size: 80%;
    }
    .fab:hover, .fas:hover{
        color: lighten($black, 10%);
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $white; 
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: indigo; 
}